[submodule "server/third_party/cutlass"]
	path = server/third_party/cutlass
	url = https://github.com/NVIDIA/cutlass
[submodule "server/third_party/flashinfer"]
	path = server/third_party/flashinfer
	url = https://github.com/flashinfer-ai/flashinfer
