[submodule "third_party/text-generation-inference"]
	path = third_party/text-generation-inference
	url = https://github.com/huggingface/text-generation-inference
[submodule "third_party/flashinfer"]
	path = third_party/flashinfer
	url = https://github.com/flashinfer-ai/flashinfer
